{% extends 'myapp/base.html' %}
{% block content %}
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4">{{ request.site.siteconfig.top_title }}</h2>
                <p class="lead">{{ request.site.siteconfig.top_subtitle }}</p>
            </div>
        </div>
        <!-- Jumbotron -->

        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for item in post_list %}
            <div class="col">
                <div class="card h-100">
                    {% if item.thumbnail %}
                    <img src="{{ item.thumbnail.url }}" class="card-img-top" alt="{{ item.title }}" />
                    {% else %}
                    <img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top" alt="..." />
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}<small>{{ item.author }}</small></h5>
                        <p>{{ item.category }}</p>
                        <p class="card-text">{{ item.content | safe | truncatechars_html:12 }}</p>
                    </div>
                    <a href="{% url 'myapp:post_detail' item.id %}" type="button" class="btn btn-light-blue btn-md">もっと読む</a>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}